<b>url:</b> <i>{{url}}</i>
<b>Pos</b> <i>{{position[0] + 1}}&#8230;{{position[2] + 1}} ({{(position[1] * 100 / total_lines) | round(0, 'ceil') }}%)</i>
{% if search_rel_pos[1] %}
<b>search:</b> <i>{{search_rel_pos[0] + 1}}/{{search_rel_pos[1]}}</i>
{% endif %}
